#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(188, 183, 183);
}

h2 {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}

.topic-list {
 display: flex
}

.article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-card {
  padding: 20px;
  margin: 5px;
  border: 1px solid rgb(102, 189, 39);
  width: 500px;
  height: 500px;
  justify-content: center;
}

.article-card-img {
  height: 250px;
}

/* Article: */
.article-title {
  text-decoration: underline;
  padding: 20px;
}

.topic-name {
  text-decoration: underline;
  padding: 20px;
}

.article-img {
  height: 400px;
  width: 600px;
}

.article-author-date {
  padding: 20px;
  margin: 30px;
}

.repeated-article-title {
  text-decoration: underline;
  font-size: 1.5em;
  padding: 20px;
  border: 3px solid black;
  margin: 30px;
}
.article-body {
  font-size: 1.5em;
  border: 2px solid black;
  padding: 50px;
  width: 95%;
  margin: 10px auto;
  text-align: justify;
}

.votes {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}

/* Comments */

.comments {
  border: 1px solid black;
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}

/* finish styling the form */
.comment-form {
  border: 1px solid black;
  padding: 10px;
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

#comment-prompt {
  margin-bottom: 10px;
}

#comment-input {
  margin: 10px;
  padding: 10px;
}

/* Comment Card */

.comment-card {
  border: 1px solid black;
  padding: 30px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}

.comment-body {
  text-align: justify;
}

#comment-button {
  padding: 15px;
  margin: 15px;
}
